<div class="logo w-50 ">
  <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true">
  </i>
  <a routerLink=""><h2>Product</h2></a>
</div>
<div class="register w-50 position-relative">
  <a routerLink="cart">
    <div class="cart d-flex position-absolute">
      <img
        class="w-100"
        src="https://cdn.pixabay.com/photo/2017/03/29/04/09/shopping-icon-2184065_960_720.png"
        alt="cart"
      />
      <span class="text-white px-2 fs-5 ">{{count}}</span>
    </div>
  </a>
  <a routerLink="register"><span class="fs-5 fw-bold m-2">register</span></a>
  <a routerLink="login"><span class="fs-5 fw-bold m-2">login</span></a>
</div>
