.register-wrapper{
    position: relative;
    margin-top: 50px;
    background: url(https://img.freepik.com/premium-vector/shopping-basket-minimal-vector-line-icon-3d-button-isolated-black-background-premium-vector_570929-440.jpg);
    background-attachment: fixed;
   }
